<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{{#if showError}}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Title!</strong> {{errorMsg}} ...
</div>
{{/if}}
	AAAAAAAAAAAAAAAAA
</body>
</html>