{{#section 'title'}}
    Cập nhật thông tin cá nhân
{{/section}}

{{#if layoutVM.isLogged}}

<div class="row">

	<div class="col-sm-12 col-md-12 col-lg-12">
		<form class="form-horizontal" method="post" action="" id="frmprofile">
    <div class="form-group">
        <label for="txtNewTenDangNhap" class="col-sm-2 control-label">Tên đăng nhập</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="" name="loginName">
        </div>
    </div>        
    <div class="form-group">
        <label for="txtNewUsername" class="col-sm-2 control-label">Họ Tên</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="" name="username">
        </div>
    </div>
    <div class="form-group">
        <label for="txtNewEmail" class="col-sm-2 control-label">Email mới</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtEmail" placeholder="" name="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="txtNewPWD" class="col-sm-2 control-label">Mật khẩu mới</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPWD" placeholder="" name="rawPWD">
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
            	<span class="fa fa-check"></span>
            	Cập Nhật
            </button>
        </div>
    </div>
</form>
	</div>
</div>
{{/if}}